<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${sectionName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <script type="text/javascript" src="js/jquery-1.11.0.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>-->
    <link href="/css/community.css" rel="stylesheet">
</head>
<body>

<div th:insert="~{navigation :: nav}"></div>

<div class="container-fluid main profile">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h3><span th:text="${sectionName}"></span></h3>
            <hr>
            <div class="media" th:each="question:${paginationDTO.questionDTOS}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" th:src="@{${question.user.getAvatarUrl()}}">
                    </a>
                </div>
                <div class="media-body">
                    <a th:href="@{'/question/'+${question.id}}">
                    <h4 class="media-heading" th:text="${question.getTitle()}"></h4>
                    </a>
                    <span class="tips">•<span th:text="${question.user.getName()}"></span> 发起了问题 • <span th:text="${question.getCommentCount()}"></span> 个回复 • <span th:text="${question.getViewCount()}"></span> 次浏览 •
                        <span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd hh:mm:ss a E')}"></span></span>
                </div>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${paginationDTO.hasFirstPage}">
                        <a th:href="@{'/profile/'+${section}+'/?page=1'}" aria-label="Previous">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <li th:if="${paginationDTO.hasPrevious}">
                        <a th:href="@{'/profile/'+${section}+'/?page='+${paginationDTO.currentPage - 1}}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li th:each="page : ${paginationDTO.pages}" th:class="${page==paginationDTO.currentPage}?'active':''"><a th:href="@{'/profile/'+${section}+'/?page='+${page}}" th:text="${page}"></a></li>
                    <li th:if="${paginationDTO.hasLast}">
                        <a th:href="@{'/profile/'+${section}+'/?page='+${paginationDTO.currentPage + 1}}" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${paginationDTO.hasEndPage}">
                        <a th:href="@{'/profile/'+${section}+'/?page='+${paginationDTO.totalPage}}" aria-label="Next">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="list-group section">
                <a href="/profile/questions" class="list-group-item" th:classappend="${section=='questions'?'active':''}">
                    <span class="badge">14</span>我的提问
                </a>
                <a href="/profile/replies" class="list-group-item" th:classappend="${section=='replies'?'active':''}">最新回复</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>